<div class="overlay"></div>

<div class="dialogs">

    <div class="modal-window modal-window--thanks" role="dialog" aria-modal="true">
        <div class="modal-window-container">
            <button class="modal-window__close" v-on:click="closeModal"></button>
            <div class="modal-window__content">
                <span class="text-thank">Спасибо за заявку</span>
            </div>
        </div>
    </div>
</div>