<a class="catalog-content-item" href="{{ link }}">
    <img src="{{ thumbnail }}" alt="">
    <div class="catalog-content-item-name">
        <h4>{{ title }}</h4>
    </div>
    <div class="catalog-content-item-price">
        <!-- <div class="catalog_old-price">14 000 руб</div> -->
        {% if price %}
            <div class="catalog_current-price">{{ price }} <span>₽</span></div>
        {% endif %}
    </div>
</a>