@import 'base/normalize';
@import 'vendors/slick';
@import 'vendors/slick-theme';
html {
    box-sizing: border-box;
    height: 100%;
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    outline: none;
}

img.lazy {
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
}

img.lazy.loaded {
    opacity: 1;
}

img.alignright {
    float: right;
    margin: 0 0 2em 2em;
}

img.alignleft {
    float: left;
    margin: 0 2em 2em 0;
}

picture.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

picture.alignright {
    float: right;
    margin: 26px 0 1em 3em;
}

picture.alignleft {
    float: left;
    margin: 0 1em 1em 0;
}

img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.alignright {
    float: right;
}

.alignleft {
    float: left;
}

.gallery.gallery-columns-2 .gallery-item {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.gallery.gallery-columns-3 .gallery-item {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.gallery.gallery-columns-4 .gallery-item {
    width: 25%;
    display: inline-block;
    vertical-align: top;
}

.gallery-caption {
    font-size: 14px;
}

.gallery {
    font-size: 0;
    figure {
        margin: 20px 0px;
    }
}

[v-cloak] {
    display: none;
}

[v-cloak] > * {
    display: none;
}

body {
    background: #fff;
    font-family: 'Montserrat', sans-serif;
}

img {
    max-width: 100%;
}
body:not(.home) .main-content {
    left: 290px;
    position: relative;
    top: 132px;
    z-index: 12;
    width: calc(100% - 290px);
    background-color: #fff;
}
section {
    background-color: #fff;
}
section.block-with-video.ops-page {
    overflow: hidden;
}
.block-with-video video {
    width: 100%;
    height: 114%;
    z-index: 100;
    top: -50px;
    position: absolute;
    z-index: 1;
}
.ops-navigation {
    left: 10px;
    right: auto;
    mix-blend-mode: difference;
}

.ops-navigation a.active,
.ops-navigation a {
    width: 12px;
    height: 12px;
}
.ops-navigation a:before,
.ops-navigation a.active:before {
    width: 12px;
    height: 12px;
    border: 1px solid #fff;
    left: 0;
}
.ops-navigation a:before {
    border-radius: 0;
    background-color: transparent;
}
.ops-navigation a.active:before {
    background-color: #fff;
}

.ops-navigation.curtain a:before,
.ops-navigation.curtain a.active:before {
    border: 1px solid #000;
}
.ops-navigation.curtain a.active:before {
    background-color: #000;
}
section.main-page-catalog {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.collections-content {
    max-width: 1920px;
    width: 100%;
    padding: 0 85px;
    height: 448px;
}
.collections-content._single-product {
    padding: 0 40px;
}
.tabs-buttons {
    margin-bottom: 60px;
}
.choice-button {
    font-size: 36px;
    color: #d4d4dd;
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
    cursor: pointer;
    text-transform: uppercase;
}
.choice-button.active {
    color: #000;
}
.collections-content-inner {
    display: none;
}

.collections-content-inner:first-child {
    display: block;
}
.collections-slick-content {
    padding: 0 7px;
}
button.slick-arrow svg path {
    fill: #000;
    width: 2px;
    height: 2px;
}
.collections-slick .slick-prev,
.collections-slick .slick-next {
    height: 34px;
    width: 26px;
}
.collections-slick .slick-prev {
    left: -30px;
}
.collections-slick .slick-next {
    right: -30px;
}
body.home .catalog-content-item {
    height: 448px;
}
.catalog-content-item {
    text-decoration: none;
    text-align: center;
}

.catalog-content-item img {
    margin-bottom: 12px;
    position: relative;
    height: 350px;
    width: 100%;
    object-fit: contain;
    object-position: 50%;
}
.new-hit {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
}
.new-tag {
    background: #00c41f;
    border-radius: 0px 0px 0px 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
    text-transform: uppercase;
    width: 41px;
    padding: 7px 3px;
    margin-bottom: 5px;
}
.catalog-content-item-name {
    margin-bottom: 12px;
}

section.collections_block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
}
.collections-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: 50%;
    position: relative;
    text-decoration: none;
    text-align: center;
}
.collections-item:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    transition: 0.3s ease;
}
.collections-item:hover:before {
    background-color: rgba(0, 0, 0, 0.5);
}
.collections-item-info {
    position: relative;
}
.coolections-item-name {
    font-size: 36px;
    text-align: center;
    color: #000;
    margin-bottom: 25px;
    transition: 0.3s ease;
}
.collections-item:hover .coolections-item-name {
    color: #fff;
}
.collections-item-open {
    font-size: 16px;
    color: #fff;
    border: 1px solid #fff;
    display: inline-block;
    padding: 9px 31px;
    transition: 0.3s ease;
    opacity: 0;
}
.collections-item:hover .collections-item-open {
    opacity: 1;
}
.collections-item-open:hover {
    color: #000;
    background-color: #fff;
}
section.about-us_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.about-us_block-content {
    width: calc(100% - 620px);
    padding: 0 80px;
    text-align: center;
}
.about-us-logo {
    margin-bottom: 25px;
}
.about-us_block-text {
    margin-bottom: 40px;
}
.about-us_block-text p {
    font-size: 16px;
    color: #4c4c4c;
    line-height: 1.375;
    margin-bottom: 25px;
}
.about-us_block-socials {
    margin-bottom: 60px;
}
.about-us_block-socials a {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: #000;
    margin: 6px;
    text-transform: uppercase;
}
.about-us_block-link {
}
.about-us_block-link a {
    border: 1px solid #c4c4c4;
    display: inline-block;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    padding: 18px 92px;
    transition: 0.3s ease;
}
.about-us_block-link a:hover {
    background-color: #000;
    color: #fff;
}
.about-us_block-image {
    width: 620px;
    height: 100vh;
}
.about-us_block-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50%;
}
section.main-page-footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
footer.main-footer {
    position: relative;
    top: 160px;
    left: 260px;
    width: calc(100% - 260px);
    padding-top: 65px;
    border-top: 1px solid #d0d0d0;
}
body.home footer.main-footer {
    display: none;
}
.footer-content {
    padding: 0 85px 40px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.main-page-footer .footer-content {
    padding: 0 85px 0;
}
.footer-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 920px;
    width: calc(100% - 370px);
}
.footer-menu-name {
    font-size: 12px;
    color: #000;
    font-weight: bold;
    margin-bottom: 14px;
    text-transform: uppercase;
}

.footer-menu-name a {
    color: #000;
    text-decoration: none;
}

.footer-menu-item ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer-menu-item ul li {
    margin-bottom: 14px;
}

.footer-menu-item ul li a {
    font-size: 12px;
    font-weight: 600;
    color: #000;
    text-decoration: none;
}
.footer-menu-item ul li a:hover {
    color: #000;
    text-decoration: underline;
}
.footer-info {
    width: 265px;
    text-align: center;
}
.footer-info-name {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.footer-info form input.subs-input {
    width: 100%;
    font-size: 12px;
    font-weight: 600;
    padding: 5px 5px 12px;
    border: none;
    border-bottom: 1px solid #acacac;
    text-align: center;
    margin-bottom: 30px;
}
.footer-info form input.subs-submit {
    margin-bottom: 14px;
    font-size: 12px;
    font-weight: 600;
    color: #909090;
    width: 100%;
    border: 1px solid #acacac;
    background-color: #fff;
    padding: 15px 5px;
    cursor: pointer;
    transition: 0.3s ease;
}
.footer-info form input.subs-submit:hover {
    background-color: #000;
    color: #fff;
}
.footer-info-text {
    font-size: 12px;
    color: #909090;
    line-height: 1.2;
}
.under-footer {
    padding: 0px 45px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
/*section.main-page-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}*/
.copyright {
    font-size: 14px;
    color: #000;
    margin-right: 15px;
}
.socials {
    flex-grow: 1;
}
.social {
    width: 19px;
    display: inline-block;
    margin: 0 9px;
}
.under-footer-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.under-footer-menu ul li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
}
.under-footer-menu ul li:last-child {
    margin-right: 0;
}
.under-footer-menu ul li a {
    font-size: 14px;
    color: #000;
    text-decoration: none;
}
.under-footer-menu ul li a:hover {
    text-decoration: underline;
}
.category-list-menu {
    width: 185px;
    padding-top: 130px;
}
.category-list-menu-item {
    margin-bottom: 14px;
}
.category-list-menu-name {
    font-size: 12px;
    font-weight: 700;
    color: #2e3033;
    cursor: pointer;
    position: relative;
    line-height: 1.5;
}
.category-list-menu-name:after {
    content: '';
    display: block;
    position: absolute;
    top: 1px;
    right: 0;
    background-image: url(../images/arrow-b.png);
    background-repeat: no-repeat;
    background-position: 50%;
    width: 12px;
    height: 8px;
}
.category-list-menu-name.active:after {
    transform: rotate(180deg);
}
ul.category-list-menu-content {
    padding-top: 14px;
    list-style: none;
    display: none;
}
ul.category-list-menu-content li {
    margin-bottom: 12px;
}
ul.category-list-menu-content li a {
    font-size: 12px;
    color: #2e3033;
    text-decoration: none;
    text-transform: uppercase;
}
.catalog-content {
    padding-bottom: 45px;
    padding-top: 60px;
}
.catalog-content-header {
    margin-bottom: 25px;
}
.catalog-title {
    margin-bottom: 12px;
}
.catalog-title h1 {
    margin: 0;
    font-size: 48px;
    color: #2e3033;
    font-weight: 300;
    text-transform: uppercase;
}
.woocommerce-breadcrumb {
    margin-bottom: 25px;
    font-size: 12px;
    color: #2e3033;
    width: 100%;
}
.woocommerce-breadcrumb a {
    color: #2e3033;
    text-decoration: none;
    text-transform: capitalize;
}

.woocommerce .woocommerce-breadcrumb {
    display: flex;
}

.woocommerce .woocommerce-breadcrumb svg {
    margin: 0 5px;
}

.catalog-content-inner {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
    grid-gap: 15px;
    padding-right: 50px;
    z-index: 10;
}

.catalog-content-item-name {
    margin-bottom: 8px;
    position: relative;
    transition: 0.3s ease;
}
.catalog-content-item-name h4 {
    font-size: 14px;
    color: #000;
}

.catalog-content-item-price {
    font-size: 13px;
    color: #000;
    font-weight: 600;
}
.catalog-content-item:hover:before,
.catalog-content-item:hover .catalog-content-item-name,
.catalog-content-item:hover .catalog-content-item-price {
    opacity: 1;
}
.catalog_current-price {
    font-size: 18px;
    color: #000;
    margin: 0 5px;
}

.catalog_current-price.catalog_current-price--sale {
    color: #c72b2b;
}

.catalog_old-price {
    font-size: 18px;
    color: #000;
    margin: 0 5px;
    position: relative;
    display: inline-block;
}
.catalog_old-price:after {
    content: '';
    display: block;
    width: calc(100% + 12px);
    height: 1px;
    background-color: #656565;
    position: absolute;
    top: 58%;
    left: -6px;
}
.product-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 65px;
    padding-left: 45px;
}
.product-slider {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: calc(100% - 72px) 64px;
    grid-gap: 8px;
    max-width: 490px;
    margin-right: 35px;
    width: 100%;
}
.product-slick-for {
    width: 100%;
}
.product-slick-for-content img {
    width: 100%;
    height: auto;
}

.product-info {
    max-width: 351px;
    width: 100%;
    position: relative;
    top: -12px;
}
.product-name {
    margin-bottom: 12px;
    margin-top: 12px;
}
.product-name h1 {
    font-size: 26px;
    color: #000;
    font-weight: 400;
    margin: 0;
}
.product-info-content {
    margin-bottom: 28px;
}
.product-info-content p {
    font-size: 16px;
    color: #000;
    margin-bottom: 9px;
}
.product-price {
    margin-bottom: 45px;
}

.product-price.product-price--flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.product-price.product-price--flex .product-old-price {
    margin-right: 10px;
}

.product-price.product-price--flex .product-current-price {
    font-size: 20px;
}

span.old-price_value {
    font-size: 20px;
    text-decoration: line-through;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 8px;
}
span.sale-percent {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    color: #d72929;
}
del span.woocommerce-Price-amount.amount {
    color: #000;
}
del {
    color: #000;
}
ins {
    color: transparent;
}
ins span.woocommerce-Price-amount.amount {
    color: #c72b2b;
}
.product-current-price {
    font-size: 30px;
    color: #c72b2b;
}
.product-sizes {
    margin-bottom: 20px;
}
.product-sizes-header {
    max-width: 355px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.product-sizes-name {
    font-size: 14px;
    color: #000;
    font-weight: 700;
}
a.product-sizes-table {
    font-size: 14px;
    color: #616161;
}

.product-sizes-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 70px));
}
.control {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 5px;
    padding-top: 3px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    width: 70px;
    height: 50px;
    border: 1px solid #c4c4c4;
    text-align: center;
}
.control:hover {
    color: #fff;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.control_indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #000;
    color: #fff;
}

.control input:checked ~ .control_indicator {
    background: #000;
    color: #fff;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
    background: #000;
    color: #fff;
}
.control input:disabled ~ .control_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

.product-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}
a.btn-cart {
    font-size: 14px;
    color: #fff;
    display: inline-block;
    max-width: 281px;
    width: 100%;
    text-align: center;
    background-color: #000;
    text-decoration: none;
    font-weight: 700;
    border: 1px solid #000;
    text-transform: uppercase;
    padding: 17px 8px;
    margin-right: 5px;
}
a.btn-favorite {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 50px;
    border: 1px solid #000;
    background-color: #000;
}

a.btn-favorite.favorited svg path.favorited {
    fill: #fff;
}
.product-description {
    max-width: 400px;
    width: 100%;
    font-size: 17px;
    color: #000;
    line-height: 1.571;
}
.single .collections_block {
    padding: 55px 45px 25px 0;
    border-top: 1px solid #d0d0d0;
}
.collections_block-title {
    font-size: 30px;
    color: #2e3033;
    padding-left: 45px;
    margin-bottom: 45px;
}
.container {
    max-width: 1500px;
    width: 100%;
    margin: 0 105px 0 305px;
}
.page-content.page-content--default.container {
    margin: 0;
    padding: 0 15px 70px 15px;
}
.page-content.page-content--default.container .product-price {
    font-size: 16px;
    color: #000;
    font-weight: 700;
    margin-bottom: 28px;
}
.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1 {
    float: left;
    width: 48%;
    max-width: 100%;
}
.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2 {
    float: right;
    width: 48%;
    max-width: 100%;
}
.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register {
    border: 1px solid #000;
    padding: 20px;
    margin: 2em 0;
    text-align: left;
    border-radius: 5px;
    max-width: 100%;
}
.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    outline: 0;
    line-height: normal;
    border: 1px solid #000;
    font-size: 16px;
    color: #000;
    padding: 10px;
}

p.woocommerce-LostPassword.lost_password a {
    color: #000;
    font-size: 13px;
}
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce .woocommerce-form-login .woocommerce-form-login__submit {
    float: left;
    margin-right: 1em;
    border-radius: 0;
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    transition: 0.3s ease;
}
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover {
    background-color: #000;
    text-decoration: none;
    background-image: none;
    color: #fff;
    border: 1px solid #000;
}
li.woocommerce-MyAccount-navigation-link {
    text-align: left;
    margin: 10px 0px;
}
li.woocommerce-MyAccount-navigation-link a {
    color: #000;
}
.woocommerce-MyAccount-content p {
    margin-bottom: 20px;
    line-height: 1.5;
}
.woocommerce-MyAccount-content p a {
    color: #959595;
}

td.product-name a {
    color: #000;
}

.cart_totals h2 {
    text-align: left;
    margin-bottom: 10px;
}
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
    background-color: #fff;
    color: #000;
    -webkit-font-smoothing: antialiased;
}
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
    background-color: #000;
    color: #fff;
}

.favorite-content {
    padding: 0 15px 75px 15px;
}
button.button.button--favorites-clear {
    color: #fff;
    background-color: #000;
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    outline: none;
    margin-bottom: 20px;
}
ul.pagination.list {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
ul.pagination.list li {
    margin: 0 6px;
}
.default-page-title {
    font-size: 30px;
    font-weight: bold;
    color: #000;
    margin: 0 0 20px 0;
}
.page-content--default h2 {
    font-size: 24px;
    color: #000;
    font-weight: bold;
    margin-bottom: 20px;
}
.page-content--default h3 {
    font-size: 20px;
    color: #000;
    font-weight: bold;
    margin-bottom: 20px;
}
.page-content--default p {
    font-size: 14px;
    color: rgb(0, 0, 0);
    line-height: 1.714;
    margin-bottom: 1em;
}
.page-content--default ul {
    list-style-image: url(../images/list.png);
    padding-left: 20px;
    margin-bottom: 30px;
}
.page-content--default ul li {
    font-size: 16px;
    color: #000;
    margin-bottom: 15px;
    line-height: 1.714;
}
.page-content--default ul li a,
.page-content--default p a {
    font-size: 14px;
    color: #727272;
}

.page-content--default ol {
    padding-left: 20px;
    margin-bottom: 30px;
    list-style: decimal;
}
.page-content--default ol li {
    font-size: 14px;
    color: #000;
    margin-bottom: 15px;
    line-height: 1.714;
}
.page-content--default ol li a,
.page-content--default p a {
    font-size: 14px;
    color: #727272;
}

.default-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
    margin: 40px 0 35px;
}
.catalog-content-header {
    background-color: #f5f4f6;
    padding: 35px;
    margin-bottom: 25px;
}
.catalog-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.catalog-filter-item {
    margin-right: 45px;
    position: relative;
}

.catalog-filter-item._width {
    width: 150px;
}

.catalog-filter-item._width .catalog-filter-item-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 66px));
    grid-gap: 0 15px;
    user-select: none;
}

.catalog-filter-item .catalog-filter-item-content {
    user-select: none;
    position: relative;
}
.catalog-filter-item .catalog-filter-item-content .v-menu__content {
    top: 33px !important;
    box-shadow: 0 4px 6px 0 rgba(32, 33, 36, 0.28);
    border-radius: 0;
}
.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) > .v-input__control > .v-input__slot {
    box-shadow: none;
    border-radius: 0;
}
.v-list {
    border-radius: 0px;
}
.v-text-field.v-text-field--solo .v-input__control {
    min-height: 32px;
    padding: 0;
}
.v-select__selection--comma {
    margin: 0px 4px 0px 0;
    font-size: 14px;
}
.v-text-field input {
    width: 0;
}

.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) > .v-input__control > .v-input__slot {
    box-shadow: none;
    width: 200px;
}

.page-contact.container {
    margin: 0 50px 0 0;
}
.contacts-page-block {
    padding: 45px 0;
}
.contacts-page-buttons {
    border-bottom: 1px solid #d0d0d0;
}
.contacts-page-buttons .choice-button {
    font-size: 24px;
    padding-bottom: 12px;
    border-bottom: 3px solid transparent;
}
.contacts-page-buttons .choice-button.active {
    border-color: #000;
}
.contacts-page-content {
    padding-top: 35px;
}
.contacts-page-content-inner {
    visibility: hidden;
    height: 0;
    opacity: 0;
}

.contacts-page-content-inner.visible {
    visibility: visible;
    height: auto;
    opacity: 1;
}

.contacts-page-items {
    max-width: 740px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contacts-page-items-left {
    width: 50%;
}
.contacts-page-item {
    margin-bottom: 25px;
}
.contacts-page-item-name {
    font-size: 16px;
    color: #979797;
    margin-bottom: 7px;
}
.contacts-page-items-left .contacts-page-item-name {
    padding-left: 23px;
}
.contacts-page-item-address {
    font-size: 16px;
    color: #000;
}

.contacts-page-item-address:before {
    content: '';
    display: inline-block;
    vertical-align: top;
    width: 10px;
    height: 14px;
    background-image: url(../images/marker.png);
    margin-right: 12px;
    margin-top: 4px;
}

.contacts-page-item-address span {
    width: calc(100% - 22px);
    display: inline-block;
    vertical-align: top;
    line-height: 1.375;
}

.contacts-page-phone a {
    font-size: 16px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    line-height: 1.375;
    background-image: url(../images/phone.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 13px;
    padding-left: 23px;
}

.contacts-page-phone a span {
    font-weight: 400;
}

.contacts-page-wa a {
    font-size: 16px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    line-height: 1.375;
    background-image: url(../images/whatsapp.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 13px;
    padding-left: 23px;
}

.contacts-page-email a {
    font-size: 16px;
    color: #000;
    text-decoration: none;
    background-image: url(../images/envelope.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 13px;
    padding-left: 23px;
}

.contacts-page-item p {
    font-size: 16px;
    color: #000;
    line-height: 1.375;
}
.contacts-page-map {
    margin-top: 40px;
}

.contacts-page-form-name {
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 18px;
}

.contacts-page-form form {
    max-width: 885px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 13px;
}
.contacts-form-left {
    width: calc(100% - 297px);
}
.contacts-form-left textarea {
    height: 165px;
    border: 1px solid #c4c4c4;
    resize: none;
    width: 100%;
    padding: 20px 0 0 22px;
    font-size: 14px;
}
.contacts-form-right {
    width: 290px;
}
input.contacts-form-input {
    padding: 15px 20px;
    border: 1px solid #c4c4c4;
    font-size: 14px;
    margin-bottom: 7px;
    width: 100%;
}
input.contacts-form-submit {
    border: 1px solid #000;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    background-color: #000;
    width: 100%;
    padding: 17px 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.3s ease;
}
input.contacts-form-submit:hover {
    background-color: #fff;
    color: #000;
}
.product-slick-nav .slick-arrow {
    display: none !important;
}

.woocommerce-page img.ordered-product-photo {
    width: 200px;
    height: 200px;
    object-fit: contain;
}
.news-archive-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 55px;
}
.news-archive-item-img {
    width: 320px;
    margin-right: 60px;
}
.news-archive-item-info {
    width: calc(100% - 380px);
}
.news-archive-item-name {
    text-decoration: none;
    display: inline-block;
    margin-bottom: 24px;
}
.news-archive-item-name h4 {
    font-size: 24px;
    color: #000;
    font-weight: bold;
    line-height: 1.2;
}
.news-archive-item-text {
    font-size: 14px;
    color: #000;
    line-height: 1.714;
    margin-bottom: 25px;
}
.news-archive-item-link a {
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
    border: 1px solid #acacac;
    display: inline-block;
    text-decoration: none;
    padding: 13px 36px;
    transition: 0.3s ease;
}
.news-archive-item-link a:hover {
    background-color: #000;
    color: #fff;
    border-color: #000;
}
.news-page.page-content--default {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.news-page-left {
    width: calc(100% - 230px);
    padding-right: 25px;
}
.news-page-right {
    width: 230px;
}
.news-page-right-name {
    font-size: 18px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 25px;
}
a.other-news-item {
    display: block;
    margin-bottom: 35px;
    text-decoration: none;
}
.other-news-item-img {
    margin-bottom: 20px;
}
.other-news-item-img img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: 50%;
}
.other-news-item-name {
    font-size: 12px;
    color: #000;
    font-weight: bold;
    line-height: 1.2;
}
.news-page-bottom {
    width: 100%;
    padding: 35px 0;
    border-top: 1px solid #d0d0d0;
}
.news-page-bottom-name {
    font-size: 30px;
    color: #000;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 25px;
}
.news-page-bottom-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 50px;
}
.news-page-bottom-item {
    text-decoration: none;
}
.news-page-bottom-item-img {
    margin-bottom: 12px;
}
.news-page-bottom-item-img img {
    height: 320px;
    width: 100%;
    object-fit: cover;
    object-position: 50%;
}
.news-page-bottom-item-name {
    font-size: 18px;
    color: #000;
    font-weight: bold;
    line-height: 1.2;
}

/* The alert message box */
.alert {
    margin-bottom: 15px;
    position: fixed;
    z-index: 115;
    display: flex;
    justify-content: center;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.alert-container {
    padding: 5px 20px;
    background-color: #ccc;
    color: #000;
    max-width: 620px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 600;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: #000;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

.hidden {
    visibility: hidden;
}

.hidden-menu_block-item.first-is-title ul li:first-child a {
    font-size: 12px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

.outstock .control_indicator {
    background-color: #f5f5f5;
    color: #ccc;
}

.size-item.outstock {
    pointer-events: none;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #000;
    color: #fff;
}

@-webkit-keyframes showModal {
    from {
        opacity: 0;
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes showModal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal-window-container .thank_title {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 28px;
    line-height: 33px;
    color: #001a34;
    margin-bottom: 15px;
}

.modal-buttons a {
    font-size: 14px;
    color: #fff;
    display: inline-block;
    max-width: 220px;
    width: 100%;
    text-align: center;
    background-color: #000;
    text-decoration: none;
    font-weight: 700;
    border: 1px solid #000;
    text-transform: uppercase;
    padding: 17px 8px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-buttons a span {
    margin-right: 10px;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.added-product-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

span.added-product__value {
    font-size: 16px;
    font-weight: 500;
}

.added-product-container span.old-price_value {
    font-size: 16px;
}

.added-product-container .product-current-price {
    font-size: 18px;
    color: #c72b2b;
}

.hidden-menu_block-item.padding-is-title {
    padding-top: 30px;
}

.woocommerce-error {
    padding-left: 55px !important;
}

.woocommerce-columns.addresses {
    margin-bottom: 20px;
}

.border-woo {
    font-style: normal;
    margin-bottom: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom-width: 2px;
    border-right-width: 2px;
    text-align: left;
    width: 100%;
    border-radius: 5px;
    padding: 6px 12px;
}

.order-print {
    padding: 20px 0;
}

@import 'popup';
@import 'layout/header';
@import 'layout/footer';
@import 'media-requests';
